<?xml version='1.0' encoding='utf-8'?>
<widget id="com.csc212.airpark" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AirPark</name>
    <description>
        AirPark: Platform for crowdsourced parking spaces.
    </description>
    <author email="chrisd@u.rochester.edu">
        Chris Dalke
    </author>
    <content src="login.html" />
    <access origin="*" />
</widget>
